debug/
target/
desktop.ini
todo.bat
todo.txt
Cargo.lock
updater.exe

updater/debug/
updater/target/
updater/desktop.ini
updater/todo.bat
updater/todo.txt
updater/Cargo.lock

installer.iss

**/*.rs.bk

*.pdb


